@import '../variables';
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 25px;
  border-bottom: 1px solid $borderColor;
  align-self: flex-start;
  p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
  }
}

.collapse {
  position: relative;
  top: 10px;
  border: 0;
  cursor: pointer;
  &:active {
    opacity: 0.5;
  }
  background: url('/assets/images/Arrow-up.png') center 0 no-repeat;
}

.container {
  width: 100%;
  margin-top: 8px;
}

.radio {
  margin-top: 10px;
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    +.radioLabel {
      &:before {
        content: '';
        position: relative;
        bottom: 0.2em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 10px;
        vertical-align: top;
        background: $white;
        border-radius: 100%;
        border: 1px solid darken($white, 25%);
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &:hover {
        color: $primaryColor;
      }
    } // Radio hover
    &:hover {
      +.radioLabel {
        &:before {
          border: 1px solid $primaryColor;
        }
      }
    } // Radio checked
    &:checked {
      +.radioLabel {
        &:before {
          background-color: $white;
          box-shadow: inset 0 0 0 5px $primaryColor;
        }
      }
    } // Radio focus
    &:focus {
      +.radioLabel {
        &:before {
          outline: none;
          border-color: $primaryColor;
        }
      }
    } // Radio disabled
    &:disabled {
      +.radioLabel {
        &:before {
          box-shadow: inset 0 0 0 4px $white;
          border-color: darken($white, 25%);
          background: darken($white, 25%);
        }
      }
    }
    +.radioLabel {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}