@import '../variables';
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #F6F6F6;
  @media (max-width: 980px) {
    display: none;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: 0 40px;
}

.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navItem {
  margin: 15px 20px 17px 0;
  color: #6F6F6F
}

.address {
  &:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 2px;
    right: 5px;
    background: url('/assets/images/Mark.png') center 0 no-repeat;
  }
}