$baseText: #333333;
$borderColor: #F6F6F6;
$darkGrayText: #7E7E7E;
$primaryColor: #FF223D;
$white: #fff;
$grayText: #626262;
$pink: #df0055;
$lightGrayBg: #e9e9e9;
$lightGray: lighten($grayText, 10%);
$darkGrayTitle: darken($grayText, 15%);