@import '../variables';
.wrapper {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding: 18px 20px 29px 20px;
  border: 1px solid $borderColor;
}

.button {
  align-self: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}