@import '../variables';
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  .inner {
    display: flex;
    p {
      margin-left: 50px;
      margin-right: 15px;
    }
  }
}

.inner:nth-child(2) {
  .select {
    width: 240px;
    margin-right: 10px;
  }
  p {
    @media (max-width: 750px) {
      display: none;
    }
  }
  @media (max-width: 750px) {
    font-size: 0;
    width: 80px;
    &:before {
      content: '';
      position: relative;
      display: block;
      width: 60px;
      height: 25px;
      top: 12px;
      z-index: 5;
      left: 35px;
      background: url('/assets/images/Open-button.png') center 0 no-repeat;
    }
    @media (max-width: 660px) {
      order: 1;
    }
  }
}

.inner:last-child {
  .select {
    width: 60px;
  }
  p {
    @media (max-width: 1200px) {
      display: none;
    }
  }
}

.filterButton {
  display: none;
  flex-grow: 1;
  border: 1px solid $borderColor;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: $white;
  margin-left: 40px;
  margin-right: 10px;
  &:after {
    content: '';
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 8px;
    background: url('/assets/images/Filter.png') center 0 no-repeat;
  }
  @media (max-width: 900px) {
    display: block;
  }
}